.ListInput {
	width: 100%;
}

.StateInput {
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 0.1rem;
	height: 0.1rem;
	margin: -0.1rem;

	white-space: nowrap;
	clippath: inset(50%);
}

.TextareaWrap {
	position: relative;
}

.TextareaSeparater {
	position: absolute;
	width: 10px;
	height: 1.5px;
	top: 14px;
	background-color: #000000;
}

.TextareaSeparater--hidden {
	opacity: 0;
}

.Textarea {
	border: 0;
	outline: 0;
	resize: none;
	width: 100%;
	font-size: 16px;
	border-bottom: 1.5px solid #000000;
	padding: 5px;
}
