.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 24px;
	width: 100%;
	height: max-content;
}

.map {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.places {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
}

.point {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 12px;
	gap: 12px;
	background: #FFFFFF;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 12px;
}

.item > svg {
	width: 30px;
	height: 30px;
}