.list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 16px;
	width: 100%;
	box-shadow: 8px 8px 10px 5px rgba(102, 51, 152, 0.1);
	border-radius: 20px;
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 8px;
}

.friends {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	gap: 16px;
}

.friendItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	max-width: 25%;
	height: max-content;
	text-align: center;
}
