.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
	gap: 20px;
	height: max-content;
	width: 100%;
	box-shadow: 8px 8px 10px 5px rgba(102, 51, 152, 0.1);
	border-radius: 20px;
}

.role {
	padding-left: 8px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.aspirant {
	color: var(--texas-rose-color);
}

.intern {
	color: var(--mariner-color);
}

.alumnus {
	color: var(--green-color);
}

.employee {
	color: var(--torch-red-color);
}

.mentor {
	color: var(--violet-color);
}

.moderator {
	color: var(--orange-dark-color);
}
